
.heading {
    display:flex;
    justify-content: space-between;
  }

  header {
    padding-top:30px;
    padding-left:50px;
    padding-right:50px;
    background-color: #4D724D;
  }
  .icons svg{
    background-color: white;
    margin-right: 30px;
    border-radius: 100%;
    width: 60px;
    height: 30px;
  }

  .heading figure img{
    width: 220px;
    height: 65px;
  }